PORT=5000
MONGO_URI=MONGO_URI=mongodb+srv://ai-weather-wise:YOUR_NEW_PASSWORD@cluster0.jm8mrn6.mongodb.net/weatherwise?retryWrites=true&w=majoritynpm start
JWnotepad .envT_SECRET=your_secret_key_here
OPENWEATHER_API_KEY=your_openweather_key
GEMINI_API_KEY=your_gemini_key